@charset "UTF-8";

/* ==========================================================================
	1. CSS Custom Properties (Variables)
   ========================================================================== */
:root {
	/* Colors */
	--color-primary: #3992D5;
	--color-text-main: #000000;
	--color-text-muted: #666666;
	--color-bg-base: #F1F8FE;
	--color-bg-surface: #ffffff;
	--color-border: #A0D6FF;

	/* Typography */
	--font-family-base: "Noto Sans jp", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	--font-family-serif: "Noto Serif JP", "Yu Mincho", "YuMincho", "Hiragino Mincho ProN", serif;
	--font-size-base: 18px;
	--line-height-base: 1.7;
}


/* ==========================================================================
	2. Modern CSS Reset
   ========================================================================== */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-family-base);
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
	color: var(--color-text-main);
	background-color: var(--color-bg-base);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
}

body.menu-open {
	overflow: hidden;
}

ul,
ol {
	list-style: none;
}

a {
	color: var(--color-primary);
	text-decoration: none;
}
a[target="_blank"]::after {
	font-family: 'Material Symbols Outlined';
	content: '\e89e';
	position: relative;
	top: 3px;
	left: 4px;
	font-size: 18px;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}


/* ==========================================================================
	2. 全体レイアウト
   ========================================================================== */

.wrapper {
	display: flex;
	flex-direction: row;
	min-height: 100vh;
	@media (max-width: 1200px) {
		flex-direction: column;
	}
}

.pc {
	display: block;
	@media (max-width: 1200px) {
		display:none;
	}
}
.sp { display: none;
	@media (max-width: 1200px) {
		display: block;
	}
}


/**** サイドバー ****/

.sidebar {
	width: 250px;
	height: 100vh;
	padding: 0 0 100px 0;
	position: sticky;
	top: 0;
	background: #fff;
	border-right: 1px solid #ECECEC;
	overflow-y: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
	
	@media (max-width: 1200px) {
		width: 100%;
		height: auto;
		position: relative;
		padding: 0 0 0 0;
		z-index: 1000;
		background: none;
		border: none;
		overflow: visible;
	}
}

.sidebar::-webkit-scrollbar {
	display: none;
}

/* ロゴ */
.sidebar__logo {
	display: block;
	width: 100%;
	padding: 30px 0 40px 0;
	text-align: center;
	
	@media (max-width: 1200px) {
		padding: 30px 0 20px 0;
	}
	
	@media (max-width: 768px) {
		padding: 20px 0 10px 0;
	}
}

.sidebar__logo img {
	display: inline;
	width: 155px;
	
	@media (max-width: 1200px) {
		width: 160px;
	}

	@media (max-width: 768px) {
		width: 130px;
	}
}

/* グローバルナビ */
.gnavi__item {
	position: relative;
	display: block;
	padding: 20px 0 20px 30px;
	background-image: linear-gradient(to right, #DADADA 20%, rgba(255, 255, 255, 0) 0%);
	background-size: 5px 1px;
	background-repeat: repeat-x;
	background-position: top;
	line-height: 1.2;
	letter-spacing: 0.5px;
	font-size: 1.1rem;
	font-family: var(--font-family-serif);
	color: #333;
	transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.gnavi__item::after {
	position: absolute;
	right: 30px;
	font-family: 'Material Symbols Outlined';
	content: '\e5cc';
	font-size: 14px;
}
.gnavi__item::hover {
	background: var(--color-bg-base);
}

.gnavi__engtxt {
	display: block;
	font-size: 0.7rem;
	color: var(--color-primary);
	letter-spacing: 1.35px;
}


/**** 右側全体設定 ****/
.rightside {
	flex: 1;
	min-width: 0;
	display: flex;
	flex-direction: column;
	
	@media (max-width: 1200px) {
		margin-top: 20px;
	}
}

.main {
	flex: 1;
	min-width: 0;
}


/**** 協力パートナー ****/
.partner {
	width: 80%;
	margin: 0 auto 70px auto;
    padding: 0;
	
	@media (max-width: 1200px) {
		margin: 0 auto 50px auto;
	}
	@media (max-width: 768px) {
		width: 90%;
	}
}

.partner__title {
	margin: 0 0 30px 0;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	line-height: 1;
	letter-spacing: 2px;
	
	@media (max-width: 768px) {
		margin: 0 0 20px 0;
	}
}
.partner__eng {
	display: block;
	margin: 0 0 6px 0;
	font-size: 16px;
	font-family: var(--font-family-serif);
	font-weight: normal;
	color: var(--color-primary);
}

/* カード全体 */
.partner__card {
	display: flex;
	justify-content: center;
	gap: 30px;
}

/* リンク部分 */
.partner__item {
	display: flex;
	max-width: calc((100% - 60px) / 3);
	height: 100%;
	font-size: 14px;
	transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

/* ロゴ等の場合 */
.partner__item img {
	width: 100%;
	height: auto;
	border-radius: 6px;
	aspect-ratio: 3 / 2;
	object-fit: cover;
	
	@media (max-width: 1200px) {
		height: 100%;
		margin: 0 0 4px 0;
		aspect-ratio: 7 / 2;
	}	
}	
.partner__item img:hover {
		opacity: 0.7;
}

/* 募集中の場合 */
.looking {
	align-items: center;
	justify-content: center;
	width: 100%;
	aspect-ratio: 3 / 2;
	border-radius: 6px;
	background: #e5e5e5;
	color: #555;
	font-size: 18px;
	font-weight: bold;
	
	@media (max-width: 1200px) {
		width: 60%;
		max-width: none;
		aspect-ratio: 5 / 2;
	}
}

.partner__text {
	display: block;
	margin: 30px 0 0 0;
	text-align: center;
	font-size: 14px;
	color: #444;
}
.partner__text a {
	color: var(--color-primary);
}


/**** フッター ****/
/* ロゴ */
.footer__logo {
	display: block;
	width: 140px;
	margin: auto;
}
.footer__logo img {
	width: 100%;
}

/* リンクリスト */
.footer__list {
	display: flex;
	width: 100%;
	margin: 20px auto 30px auto;
	font-size: 14px;
	justify-content: space-around;
	
	@media (max-width: 1200px) {
		margin: 10px auto 20px auto;
	}
	@media (max-width: 768px) {
		flex-direction: column;
		margin: 8px auto 16px auto;
	}
	
}

.footer__item {
	flex: 1;
	border-right: 1px solid #ddd;
	text-align: center;
	line-height: 1;
	
	@media (max-width: 768px) {
		border: none;
	}
}

.footer__list a {
	display: block;
	padding: 0 20px;
	color: var(--color-primary);
	
	@media (max-width: 1200px) {
		padding: 4px 0;
	}
	@media (max-width: 768px) {
		padding: 12px 0;
	}
}

.footer__copy {
	display: block;
	margin: 0 0 10px 0;
	text-align: center;
	font-size: 14px;
	color: #333;
	
	@media (max-width: 1200px) {
		font-size: 12px;
	}
}

.footer__source {
	display: block;
	margin: 0 0 8px 0;
	text-align: center;
	font-size: 12px;
	color: #333;
}


/* ==========================================================================
    3. 下層共通
   ========================================================================== */

/**** パンくず ****/
.breadcrumb__list {
	display: flex;
	margin: 10px 5% 10px 5%;
	
	@media (max-width: 1200px) {
		margin-top: 0;
		margin-bottom: 30px;
	}
	@media (max-width: 768px) {
		flex-wrap: wrap;
		row-gap: 6px;
	}
}

.breadcrumb__item {
	margin: 0 10px 0 0;
	padding: 0 0 0 0;
	font-size: 13px;
	
	@media (max-width: 1200px) {
		font-size: 12px;
	}
	@media (max-width: 768px) {
		line-height: 1.6;
	}
}

.breadcrumb__link {
	display: inline-block;
	padding: 0 24px 0 0;
	position: relative;
}
.breadcrumb__link::after {
	position: absolute;
	right: 0;
	font-family: 'Material Symbols Outlined';
	content: '\e5cc';
	font-size: 14px;
}


/**** ページタイトル ****/
.pagetitle {
	margin: 30px 0 50px 0;
	text-align: center;
	line-height: 1;
	font-size: 50px;
	font-family: var(--font-family-serif);
	
	@media (max-width: 1200px) {
		margin: 0 0 40px 0;
		font-size: 32px;
	}
	@media (max-width: 768px) {
		font-size: 26px;
	}
}
.pagetitle__eng {
	display: block;
	margin: 0 0 12px 0;
	line-height: 1;
	text-align: center;
	font-size: 24px;
	color: var(--color-primary);
	
	@media (max-width: 1200px) {
		margin: 0 0 8px 0;
		font-size: 18px;
	}
}


/**** 下層ナビ ****/
.subnavi {
	display: flex;
	flex-direction: row;
	gap: 30px;
	width: 90%;
	margin: 40px auto 60px auto;
	
	@media (max-width: 1200px) {
		gap: 10px;
		margin: 0 auto 40px auto;
	}
}

.subnavi__item {
	display: flex;
	flex: 1;
	padding: 14px 0;
	border: 1px solid #A0D6FF;
    justify-content: center;
    align-items: center;
	background: #fff;
	line-height: 1;
	font-weight: bold;
	color: var(--color-primary);
	
	@media (max-width: 1200px) {
		padding: 10px;
		border-radius: 3px;
		font-size: 14px;
	}
}

.subnavi .active {
	border: 1px solid #ddd;
	color: #333;
}


/**** 下層コンテンツ ****/

/* Wrapper系 */
.content {
	position: relative;
	margin: 0 5% 70px 5%;
	padding: 30px 50px;
	background: #fff;
	border-radius: 4px;
	
	@media (max-width: 1200px) {
		padding: 20px 20px;
	}
}
.section {
	margin: 0 0 54px 0;
}

/* 画像共通 */
.section__imgarea {
	margin: 0 0 40px 0;
	
	@media (max-width: 1200px) {
		margin: 0 0 20px 0;
	}
}
.section__imgarea img {
	display: inline;
	border-radius: 6px;
}

/* 画像 中央配置 */
.section__imgarea.center {
	text-align: center;
}
.section__imgarea.center img {
	max-width: 80%; 
}

/* 画像 右配置 */
.section__imgarea.right {
	display: flex;
	flex-direction: row;
	gap: 60px;
	
	@media (max-width: 1200px) {
		gap: 32px;
	}
	@media (max-width: 768px) {
		flex-direction: column;
	}
}
.section__flexbox:nth-child(1) {
	flex: 1;
}
.section__flexbox:nth-child(2){
	flex: 0 300px;
	
	@media (max-width: 768px) {
		text-align: center;
	}
}
.section__imgarea.right img {
	width: 100%;
	max-width: none;
	
	@media (max-width: 768px) {
		width: 50%;
	}
}

/* 見出し系 */
.section__h2 {
	position: relative;
	margin: 10px 0 40px 0;
	padding-bottom: 12px;
	font-size: 28px;
	font-weight: bold;
	border-bottom: 2px solid var(--color-border);
	
	@media (max-width: 1200px) {
		margin: 0 0 30px 0;
		line-height: 1.4;
		font-size: 24px;
	}
	@media (max-width: 768px) {
		font-size: 22px;
	}
}
.section__h2::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -2px;
		width: 80px;
		height: 2px;
		background-color: var(--color-primary);
}

.section__h3 {
	margin: 0 0 30px 0;
	padding-bottom: 12px;
	border-bottom: 1px dotted var(--color-primary);
	font-size: 20px;
	font-weight: bold;
	
}
.section__h4 {
	margin: 0 0 30px 0;
	font-size: 18px;
	font-weight: bold;
}

/* 基本テキスト */
.section__text {
	margin: 0 0 20px 0;
}
.section__text + .section__h3 {
	margin-top: 60px;
}

.section__text.small {
	font-size: 0.9rem;
}

/* 次のページ */
.subpage__next {
	margin: 50px 0 40px 0;
	text-align: center;
	font-weight: bold;
}
.subpage__next a {
	position: relative;
	padding: 0 40px;
	transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
	color: #333;
}

.subpage__next a::after {
	position: absolute;
	top: -9px;
	right: 0;
	font-family: 'Material Symbols Outlined';
	content: '\e5cc';
	color: var(--color-primary);
	font-size: 22px;
}
	
.subpage__next a:hover {
	padding: 0 45px;
}

/* 基本リスト */
.subpage__list {
	list-style: none;
}
.subpage__list-item {
	margin: 0 0 8px 10px;
	padding: 0 0 0 0;
	
	&::before {
		content: "●";
		position: relative;
		top: -4px;
		margin: 0 8px 0 0;
		font-size: 8px;
		color: var(--color-primary);
	}
}
.subpage__list + .section__h3 {
	margin-top: 60px;
}

/* 基本DTDD */
.subpage__dl {
	display: flex;
	flex-wrap: wrap;
	width: 100%;

	@media (max-width: 1200px) {
		flex-direction: column;
	}
}
.subpage__dl dt {
	position: relative;
	flex: 0 0 140px;
	padding: 12px;
	border-bottom: 1px dotted #DADADA;
	font-weight: bold;
	color: #333;

	@media (max-width: 1200px) {
		flex: 1;
		padding: 12px 0 0 0;
		border-bottom: none;
	}
}
.subpage__dl dd {
	flex: 1 1 calc(100% - 140px);
	min-width: 0;
	margin: 0;
	padding: 12px;
	border-bottom: 1px dotted #DADADA;

	@media (max-width: 1200px) {
		flex: 1;
		padding: 0 0 12px 16px;
	}
}

/* ちょっと広いDT */
.subpage__dl--wide {
	margin: 0 0 130px 0;
}
.subpage__dl--wide dt {
	flex: 0 0 240px;

	@media (max-width: 1200px) {
		flex: 1;
	}
}
.subpage__dl--wide dd {
	flex: 1 1 calc(100% - 240px);

	@media (max-width: 1200px) {
		flex: 1;
	}
}


.dotted-line-btm {
	background-image: linear-gradient(to right, #DADADA 20%, rgba(255, 255, 255, 0) 0%);
	background-size: 5px 1px;
	background-repeat: repeat-x;
	background-position: bottom;
}


/* ==========================================================================
	4. 各ページCSS
   ========================================================================== */

/**** メインビジュアル ****/

/* 全体設定 */
.topvisual {
	position: relative;
	overflow: hidden;
	height: 730px;
	
	@media (max-width: 1200px) {
		height: 400px;
		margin: 0 0 40px 0;
			
		&::before {
			top: 0;
			right: 100px;
		}
	}
	@media (max-width: 768px) {
		height: 240px;
		margin: 0 0 24px 0;
			
		&::before {
			right: 50px;
		}
	}
}
.topvisual::before {
	content: "";
	position: absolute;
	top: 80px;
	right: 200px;
	width: 90%;
	height: 80%;
	border: 1px solid #D3E7F9;
	border-radius: 50%;
	pointer-events: none;
}

/* キャッチコピー */
.topvisual__title {
  margin: 60px auto 0 auto;
  transform: translateX(-40px);
  writing-mode: vertical-rl;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.45);
  font-size: 45px;
  font-family: "Hannari", serif;
  letter-spacing: 0.15em;
  line-height: 1.8;
	
	@media (max-width: 1200px) {
		margin: 0 auto;
		transform: translateX(0);
		font-size: 38px;
		line-height: 1.5;
	}
	@media (max-width: 768px) {
		font-size: 22px;
	}
}
.topvisual__space {
  margin-top: 260px;

	@media (max-width: 1200px) {
		margin-top: 60px;
	}
}

/* メインフォト */
.topvisual__photo {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.topvisual__photo img {
	position: absolute;
	border-radius: 50%;
	object-fit: cover;
	
	@media (max-width: 1200px) {
		height: auto;
		aspect-ratio: 1 / 1;
	}
}

.topvisual__photo1 {
	width: 290px;
	height: 290px;
	top: 45px;
	left: 50px;
	
	@media (max-width: 1200px) {
		width: 220px;
		top: 0;
		left: 80px;
	}
	@media (max-width: 768px) {
		width: 120px;
		left: 30px;
	}
}
.topvisual__photo2 {
	width: 380px;
	top: 130px;
	right: 50px;
	
	@media (max-width: 1200px) {
		width: 300px;
		top: 30px;
		right: 40px;
	}
	@media (max-width: 768px) {
		width: 150px;
		right: 10px;
	}
}
.topvisual__photo3 {
	width: 200px;
	height: 200px;
	top: 490px;
	left: 170px;
	
	@media (max-width: 1200px) {
		width: 180px;
		top: auto;
		bottom: 0;
		left: 25%;
	}
	@media (max-width: 768px) {
		width: 90px;
		left: 15%;
	}
}

/* 満干時間 */
.tidearea {
	position: absolute;
	top: 35px;
	right: 35px;
	font-size: 0.8rem;
	line-height: 1;
	z-index: 1000;
}
.tidearea__title {
	display: block;
	margin: 0 0 8px 0;
	text-align: right;
		
	@media (max-width: 1200px) {
		text-align: center;
	}
}

.tidearea__time {
	display: block;
	margin: 0 0 6px 0;
	text-align: right;
}


/**** コンテンツ基本 ****/
.topblock {
	position: relative;
	margin: 0 45px 50px 45px;
	padding: 30px 40px 20px 40px;
	background: #fff;
	border-radius: 4px;
	
	@media (max-width: 1200px) {
		margin: 20px 40px 40px 40px;
		padding: 20px;
		display: flex;
		flex-direction: column;
	}
	@media (max-width: 768px) {
		margin: 20px 25px 40px 25px;
	}
}

/* 見出し */
.topblock__title {
	margin: 0 0 12px 0;
	padding: 0 0 24px 0;
	border-bottom: 1px dotted var(--color-primary);
	font-size: 22px;
	font-weight: bold;
	line-height: 1;
	letter-spacing: 2px;
	
	@media (max-width: 1200px) {
		margin: 0 0 8px 0;
	}
}
.topblock__eng {
	display: block;
	margin: 0 0 6px 0;
	font-size: 16px;
	font-family: var(--font-family-serif);
	font-weight: normal;
	color: var(--color-primary);
	
	@media (max-width: 1200px) {
		font-size: 14px;
	}
}

/* 右上リンク */
.topblock__rlink {
	position: absolute;
	top: 54px;
	right: 40px;
	padding: 0 30px 0 0;
	font-size: 14px;
	font-weight: 700;
	text-align: right;
	transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
	color: #333;
	
	@media (max-width: 1200px) {
		top: 30px;
		right: 20px;
	}
}
.topblock__rlink::after {
	position: absolute;
	top: -3px;
	right: 0;
	font-family: 'Material Symbols Outlined';
	content: '\e5cc';
	color: var(--color-primary);
	font-size: 18px;
	
}
	
.topblock__rlink:hover {
	right: 34px;
	@media (max-width: 1200px) {
		right:20px;
	}
}


/**** 最新情報 一覧 ****/
.news__list {
	font-size: 16px;
}
.news__list a {
	display: block;
	width: 100%;
	padding: 14px 0;
	transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
	color: #333;
}

.news__item {
	border-bottom: 1px dotted #ddd;
}
.news__item:last-child {
	border: none;
}

.news__item a::before {
	position: relative;
	top: 3px;
	font-family: 'Material Symbols Outlined';
	content: '\e5df';
	color: var(--color-primary);
}
.news__item a:hover {
	background: var(--color-bg-base);
}

.news__item time {
	display: inline-block;
	margin: 0 10px 4px 0;
	font-weight: bold;
}

.news__cat {
	padding: 2px 10px;
	background: #eee;
	border-radius: 2px;
	font-size: 12px;
}
.news__title {
	margin: 2px 0 0 18px;
}


/**** TOP 谷津干潟とは ****/
.topabout {
	display: flex;
	align-items: flex-start;
	gap: 30px;
	width: 100%;
	margin: 24px 0 0 0;

	@media (max-width: 768px) {
		flex-direction: column;
		gap: 0;
	}
}

/* 文章と写真 */
.topabout__text {
	flex: 1;
	min-width: 0;
}
.topabout__text p {
	margin: 0 0 24px 0;
	vertical-align: top;
}

.topabout__img {
	flex: 0 0 260px;
	width: 260px;
	margin: 0 0 30px 0;
	
	@media (max-width: 768px) {
		flex:none;
		width:100%;
		margin: 0 0 20px 0;
		text-align:center;
	}
}
.topabout__img img {
	width: 100%;
	border-radius: 10px;
	
	@media (max-width: 768px) {
		aspect-ratio: 3 / 1;
		object-fit: cover;
		object-position: center 40%;
	}
}

/* 下層リンク */
.topabout__link {
	display: flex;
	gap: 35px;
	width: 100%;
	margin: 20px 0 5px 0;

	@media (max-width: 768px) {
		flex-direction: column;
		gap: 18px;
		margin: 20px auto 10px auto;
	}
}

.topabout__link li {
	display: block;
	flex: 1;
	min-width: 0;
	border-radius: 3px;
	border: 1px solid #A0D6FF;
	background-color: #FFF;
	background-image: url(../images/bg_btn_wave.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position-y: bottom;
	text-align: center;
	line-height: 1;
	font-weight: bold;
	color: var(--color-primary);
	transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}
.topabout__link li:hover {
	background: var(--color-bg-base);
}
	
.topabout__link a {
	display: block;
	padding: 20px 0;
	
	@media (max-width: 768px) {
		padding: 26px 0;
	}
}


/**** TOP 観察・散策ガイド ****/
.topguide__text {
	margin: 24px 0 24px 0;
}

/* カード全体 */
.topguide__card {
	display: flex;
	align-items: flex-start;
	gap: 30px;
	width: 100%;
	margin: auto;
	
	@media (max-width: 768px) {
		flex-direction: column;
		gap: 24px;
	}
}

/* 各カード */
.topguide__item {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding-bottom: 20px;
	box-sizing: border-box;
	flex: 1;
	height: 200px;
	min-width: 0;
	background: #ccc;
	border-radius: 6px;
	text-align: center;
	transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
	
	@media (max-width: 768px) {
		width: 100%;
		padding: 8px 0;
		height: auto;
	}
}

.topguide__item:nth-child(1) {
	background: url(../images/top_guide_point.png) no-repeat;
	background-size: cover;
}
.topguide__item:nth-child(2) {
	background: url(../images/living_daisagi.jpg) no-repeat;
	background-size: cover;
}

.topguide__item:hover {
	opacity: 0.7;
}

/* カード内ボタン */
.topguide__link {
	display: block;
	width: 82%;
	padding: 6px 0;
	border-radius: 3px;
	background: rgba(255, 255, 255, 0.80);
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.20);
	font-size: 14px;
	font-weight: bold;
	color: #333;
	
	@media (max-width: 1200px) {
		font-size: 16px;
	}
	@media (max-width: 768px) {
		width: 60%;
		margin: 24px auto;
		padding: 12px 0;
	}
}

/* カード全体をクリック領域にする */
.topguide__link::after {
	content: '';
	position: absolute;
	inset: 0;
}


/**** TOP アクセス ****/
.topaccess {
	display: flex;
	align-items: flex-start;
	gap: 30px;
	width: 100%;
	margin: 16px 0 0 0;

	@media (max-width: 768px) {
		flex-direction: column;
		gap: 20px;
	}
}

/* 左側の文章 */
.topaccess__text {
	flex: 1;
	min-width: 0;
}

.topaccess__title {
	margin: 0 0 6px 0;
	font-size: 18px;
	font-weight: 700;
}
.topaccess__title svg {
	position: relative;
	top: 6px;
	display: inline;
}

.topaccess__list {
	margin: 0 0 30px 0;
	list-style: disc;
}
.topaccess__list:last-of-type {
	margin: 0;
}
.topaccess__item {
	margin: 0 0 0 30px;
}

/* マップ側 */
.topaccess__map {
	flex: 0 0 320px;
	width: 320px;
	margin: 16px 0 0 0;
	
	@media (max-width: 1200px) {
		width: 100%;
	}
	@media (max-width: 768px) {
		flex: auto;
	}
}

.topaccess__map iframe {
	width: 100%;
	border-radius: 10px;
	
	@media (max-width: 768px) {
		height: 180px;
	}
}


/**** 歴史 ****/
.history {
	position: relative;
	padding: 0 0 30px 30px;
	border-left: 1px solid #D9EAF8;
}

.history::before {
	position: absolute;
	top: 1px;
	left: 0;
	width: 10px;
	height: 10px;
	transform: translateX(-50%);
	border-radius: 50%;
	background-color: #D9EAF8;
	content: "";
}

/* 見出し */
.history .section__h2 {
	position: relative;
	margin: 0 0 20px 0;
	line-height: 1;
	font-size: 22px;
	
	@media (max-width: 1200px) {
		line-height: 1.35;
	}
}
.history .section__h2 span {
	display: block;
	margin: 0 0 8px 0;
	line-height: 1;
	font-size: 12px;
	font-weight: normal;
	color: #9AA6B2;
}

/* 歴史内画像 */
.history__img {
	margin: 0 8% 30px 8%;
	text-align: center;
}
.history__img img {
	display: inline;
	border-radius: 4px;
}

.history__img .note {
	display: block;
	text-align: right;
	font-size: 0.8rem;
	color: #999;
}

/* 参考資料 */
.history__aside {
	border-left: none;
	border-top: 1px dotted #ddd;
	margin: 50px 0 60px 0;
	padding: 50px 0 0 0;
}

.history__aside li {
	margin: 0 0 0 30px;
	list-style: disc;
}


/**** 保全・ルール ****/
.point {
	display: flex;
	gap: 40px;
	width: 100%;

	@media (max-width: 768px) {
		flex-direction: column;
		gap: 20px;
	}
}
.point__img {
	flex: 1;
	min-width: 0;
	width: 100%;
	height: auto;
	object-fit: contain;

	@media (max-width: 768px) {
		object-fit: cover;
		aspect-ratio: 7 / 2;
	}
}

.point.two {
	width: 66%;
	margin-left: auto;
	margin-right: auto;
}

.rulelist {
	margin-top: 2rem;
	list-style: none; padding: 0;
}
.rulelist__item {
	margin-bottom: 1.5rem;

	& strong {
		color: #006CA2;
		display: block;
		margin-bottom: 0.5rem;
	}
}


/**** 周辺のお店 ****/

/* カテゴリへのアンカー */
.shopnavi {
	display: flex;
	width: 100%;
}
.shopnavi a {
	display: flex;
	flex: 1;
	justify-content: center;
    align-items: center;
	margin: 0 0 30px 0;
	padding: 10px 0;
	border: 1px solid #eee;
	font-size: 14px;
	
	&::after {
		position: relative;
		left: 6px;
		font-family: 'Material Symbols Outlined';
		content: '\f4b6';
		font-size: 12px;
		color: var(--color-primary);
	}
}


/* お店一覧用Flex */
.subpage__flexshop {
	display: flex;
	flex-direction: row;
	gap: 40px;
	margin: 0 0 50px 0;

	& .subpage__flexbox:nth-child(1) {
		flex: 0 0 40%;
	}
	& .subpage__flexbox:nth-child(2) {
		flex: 1;
	}

	@media (max-width: 768px) {
		flex-direction: column;
		gap: 20px;


	}
}

.subpage__flexshop .section__h3 {
	margin: 0 0 20px 0;
	font-size: 20px;

}
.subpage__flexshop .section__h4 {
	@media (max-width: 768px) {
		margin: 0 0 10px 0;
	}
}


/**** 谷津干潟の生きもの ****/
.living {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}
.living_item {
 	width: calc((100% - 40px) / 3);
	margin-bottom: 20px;
	
	@media (max-width: 768px) {
		width: calc((100% - 40px) / 2);
		margin: 0;
	}
}
.living_item img {
	border-radius: 4px;
}
.living_item span {
	padding: 0 0 0 4px;
	font-size: 0.9rem;
}


/**** アクセス ****/
.section__h2 svg {
	position: relative;
	top: 5px;
	display: inline;
}


/**** お問い合わせ ****/
.formbox {
	position: relative;
	margin: 0 45px 70px 45px;
	padding: 30px 20%;
	background: #fff;
	border-radius: 4px;

	@media (max-width: 1200px) {
		padding: 30px 10%;
	}
}

.formbox .catch {
	margin: 20px 0 40px 0;
	font-size: 14px;
}

.form__text {
	font-size: 14px;
}
.form__text span {
	color: red;
}

.form__item {
	display: block;
	padding: 20px 0 20px 0;

	& strong {
		display: block;
		margin: 0 0 8px 0;
		font-weight: bold;
	}

	& span {
		color: red;
	}
	
	input, textarea {
		width: 100%;
		padding: 5px 10px;
		background: #f5f5f5;
		border: 1px solid #ddd;
		border-radius: 4px;
	}
}

.form-submit {
	text-align: center;

	& button {
		margin: 40px 0 40px 0;
		padding: 12px 80px;
		background: var(--color-primary);
		border: 1px solid var(--color-border);
		border-radius: 6px;
		color: #fff;
	}
}


/* ハンバーガーメニュー */

.gnavi {
	@media (max-width: 1200px) {
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100dvh;
		background: #fff;
		visibility: hidden;
		pointer-events: none;
		transition:
			right 0.5s cubic-bezier(0.25, 1, 0.5, 1),
			visibility 0s linear 0.5s;
		overflow-y: auto;
	}
}

.sidebar.is-open .gnavi {
	@media (max-width: 1200px) {
		right: 0;
		visibility: visible;
		pointer-events: auto;
		transition-delay: 0s;
	}
}

.gnavi .tidearea {
	@media (max-width: 1200px) {
		position: relative;
		top: 0;
		left: 0;
		padding: 30px 0 60px 0;
		z-index: 100;
		text-align: center;
	}
}

.gnavi .tidearea__time {
	@media (max-width: 1200px) {
		text-align: center;
	}
}

.sidebar__toggle {
	@media (max-width: 1200px) {
		position: fixed;
		top: 0;
		right: 0;
		width: 70px;
		height: 70px;
		background: #D6E8F6;
		border: none;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 8px;
		z-index: 1001;
	}

	@media (max-width: 768px) {
		width: 50px;
		height: 50px;
		gap: 6px;
	}
}

.sidebar__toggle span {
	@media (max-width: 1200px) {
		width: 40px;
		height: 2px;
		background-color: #333;
		transition: all 0.3s ease;
	}

	@media (max-width: 768px) {
		display: block;
		width: 28px;
	}
}

.sidebar.is-open .sidebar__toggle span:nth-child(1) {
	@media (max-width: 1200px) {
		transform: translateY(12px) rotate(45deg);
	}

	@media (max-width: 768px) {
		transform: translateY(8px) rotate(45deg);
	}
}

.sidebar.is-open .sidebar__toggle span:nth-child(2) {
	@media (max-width: 1200px) {
		opacity: 0;
	}

}

.sidebar.is-open .sidebar__toggle span:nth-child(3) {
	@media (max-width: 1200px) {
		transform: translateY(-8px) rotate(-45deg);
	}

}
