---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import { microcmsClient } from '../library/microcms';

// microCMSから「news」エンドポイントのデータを取得
const response = await microcmsClient.get({
	endpoint: "news",
	eries: { limit: 3 }, // 取得件数の指定
});

// 取得した記事データの配列
const newsList = response.contents;

---

<Layout>
	<section class="hero-area">
	</section>

	<h1>最新情報</h1>
	<ul>
	{newsList.map((news) => (
    <li>
		<!-- 日付 -->
		<time>
			{new Date(news.date).toLocaleDateString('ja-JP')}
		</time>
		
		<!-- カテゴリ（バッジ） -->
		<span>
			{news.category[0]}
		</span> 
		
		<!-- タイトル -->
		<a href="#">
			{news.title}
		</a>
    </li>
	))}
	</ul>
</Layout>

<style>
.hero-area {
	position: relative;
	overflow: hidden;
	height: 730px;
	&::before {
		content: "";
		position: absolute;
		top: 80px;
		right: 200px;
		width: 90%;
		height: 80%;
		border: 1px solid #D3E7F9;
		border-radius: 50%;
		pointer-events: none;
    }
}
.hero-image {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
}
</style>