<header>
    <a href="/">ロゴ</a>
    <nav>
        <ul>
            <li>グローバルナビ</li>
        </ul>
    </nav>
    <div>
        <strong>今日(10月16日)の干潮時間</strong>
        <span>
            満潮　01:39／15:19<br>
            干潮　08:19／21:00
        </span>
    </div>
</header>